.site-nav {
	border-bottom: 1px solid $header-underline;
}

.header-box {
	display: flex;

	align-items: center;
	background-color: $background-color;
}
.navi-style {
	display: flex;
	align-items: center;
}
.logo {
	font-family: $secondary-font;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-decoration: none;
	display: flex;
	&__web-header {
		color: $button-color;
		text-shadow: 0px 4px 4px $text-shadow;
	}
	&__studio-header {
		color: $logo-text;
		text-shadow: 0px 4px 4px $text-shadow;
	}
}

.navi {
	margin-left: 93px;
	display: flex;

	&__list {
		margin-right: 47px;

		&:not(:last child) {
			margin-right: 47px;
		}
	}
	&__link {
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;
		padding: 32px 0;
		display: block;

		color: $text-color;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.current {
	color: $button-color;
}
.current-underline {
	position: relative;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&::after {
		position: absolute;
		display: inline-block;
		left: 0;
		bottom: -1px;
		background-color: $button-color;
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
	}
}
.contact-list {
	color: $text-color-secondary;

	line-height: 1.14;
	letter-spacing: 0.02em;
	display: inline;
	padding-left: 50px;
	.contact-list__link {
		color: $text-color-secondary;

		font-weight: 500;

		line-height: 1.14;
		letter-spacing: 0.02em;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $button-color;
		}
		.contact-list__icon {
			fill: currentColor;
			margin-right: 10px;
			vertical-align: middle;
			&:hover,
			&:focus {
				fill: $button-color;
			}
		}
	}
}
