.section-main {
	background-image: linear-gradient($gradiend-photo, $gradiend-photo), url(../images/background480.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $background-third-color;
	max-width: 1600px;
	height: 400px;
	margin: 0 auto;
	padding: 118px 0;
	display: flex;
}

.hero {
	background-color: $background-third-color;
	padding-top: 200px 0px;
}

.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;

	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: $background-color;

	margin: 0 auto;
	margin-bottom: 30px;
	white-space: pre-line;
}

.hero__button {
	background-color: $button-color;
	box-shadow: 0px 4px 4px $box-shadow;
	border-radius: 4px;

	cursor: pointer;
}

.hero__button-text {
	font-family: $main-font;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	align-items: center;

	letter-spacing: 0.06em;
	cursor: pointer;

	color: $background-color;
	margin: 0 auto;
	padding: 10px 42px;
}

@media screen and (min-width: 768px) {
	.section-main {
		background-image: linear-gradient($gradiend-photo, $gradiend-photo), url(../images/background768.jpg);
	}
	.hero__title {
		width: 365px;
	}
	.hero {
		padding-top: 118px;
	}
}
@media screen and (min-width: 1200px) {
	.section-main {
		background-image: linear-gradient($gradiend-photo, $gradiend-photo), url(../images/background.jpg);
		height: 600px;
	}
	.hero__title {
		width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
	.hero {
		padding-top: 200px;
	}
}
