.team {
	background: $icons;
}
.team-square {
	background: $background-color;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;

		text-align: center;
		letter-spacing: 0.03em;

		color: $text-color;
	}

	&__job {
		font-size: 16px;
		line-height: 19px;

		text-align: center;
		letter-spacing: 0.03em;

		color: $text-color-secondary;
		margin-top: 10px;
	}
}

.team-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.margin-top {
	margin-top: 16px;
}

.setting-in-row-team {
	display: flex;
	gap: 10px;
	justify-content: center;
}
.team-svg {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $icons-color;
	border-radius: 50%;

	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $background-color;

		background-color: $button-color;
	}
	&__icons {
		fill: currentColor;

		&:hover,
		&:focus {
			fill: $background-color;
		}
	}
}
.setting-in-row2 {
	display: flex;
	gap: 30px;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.team-square {
		width: 354px;
	}
	.setting-in-row2 {
		flex-wrap: wrap;
		flex-direction: row;
	}
}
@media screen and (min-width: 1200px) {
	.team-square {
		width: 270px;
	}
	.setting-in-row2 {
		flex-wrap: wrap;
		flex-direction: row;
	}
}
