$text-color: #212121;
$background-color: #ffffff;
$text-color-secondary: #757575;
$button-color: #2196f3;
$background-second-color: #eeeeee;
$logo-text: #000000;
$adress-text: #ffffff99 60%;
$background-third-color: #2f303a;
$random-color: #ececec;
$icons-color: #afb1b8;
$green: #7ed321;
$box-shadow: #000000 15%;
$border-color: #212121 20%;

$header-underline: #ccc;
$text-shadow: rgba(0, 0, 0, 0.25);
$gradiend-photo: #2f303a66;
$icons: #f5f4fa;

$secondary-font: "Raleway", sans-serif;
$main-font: "Roboto", sans-serif;

$color_1: inherit;
$color_2: #fff;
$background-color_1: transparent;
$background-color_2: rgba(0, 0, 0, 0.1);
$background-color_3: #fff;
